* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tabel {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80%;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

th {
    background-color: whitesmoke;
}

td {
    text-align: center;
    background-color: ghostwhite;
}

button {
    border-radius: 5px;
}

.Tambah {
    margin-left: 20%;
    border-radius: 5px;
    margin-top: 40px;
    width: 100px;
}

.Regis{
    margin: 0 auto;
    width: 100px;
    margin-top: 15%;
    width: 400px;
    height: 300px;
    border: solid black;
    border-radius: 5px;
}

.Judul{
    margin: 0 auto;
    text-align: center;
}

.Email{
    text-align: left;
    background-color: white;
}
.pass{
    text-align: left;
    background-color: white;
}
.daftar{
    margin: 0 auto;
    width: 100px;
    margin-top: 10px;
}
.tombol{
    margin: 0 auto;
    width: 200px;
    margin-top: 20px;
}
.but{
    width: 200px;
    height: 25px;
}
.view{
    margin-right: 4px;
}
.Edit{
    margin-right: 4px;
}
.tambah{
    margin-top: 50px;
    margin-left: 20px;
}
.update{
    width: 100px;
    height: 25px;
    margin-right: 10px;
}
.kembali{
    margin-left: 20%;
    width: 100px;
    height: 25px;
}
.Kembali{
    width: 100px;
    height: 25px;
}
.judul{
    margin-top: 50px;
    margin-left: 20%;
}
.Login{
    margin-left: 45%;
    border-radius: 5px;
    margin-top: 40px;
    width: 100px;
}
.login{
    margin: 0 auto;
    width: 100px;
    margin-top: 15%;
    width: 400px;
    height: 200px;
    border: solid black;
    border-radius: 5px;
}
.back{
    width: 100px;
    height: 25px;
}